@use "./reset";
@use "./fluid-type-scale";
@use "./typography";

/* Utilities */
@use "./utilities/flow";
@use "./utilities/wrapper";
@use "./utilities/sr-only";

/* Components */
@use "./components/card";
@use "./components/button";
@use "./components/rating-scale";

@import "./config";
@import "../../node_modules/gorko/gorko.scss";

body {
  background-color: var(--color-z0);
}

.icon-star {
  color: currentColor;
  width: 3em;
  height: 3em;
  background-color: var(--color-rating_bg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
