.rating-scale {
  display: flex;
  justify-content: space-between;
  input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 3rem;
    height: 3rem;
    background-color: pink;
    border-radius: 50%;
    position: relative;

    &::before {
      content: var(--counter, "1");
      position: absolute;
    }
  }
  //   label {
  //     display: flex;
  //     justify-content: center;
  //     align-content: center;
  //     background-color: var(--color-rating_bg);
  //     width: 3rem;
  //     height: 3rem;
  //     border-radius: 50%;
  //   }
}
